{% include 'base.html' %}
<title>Aluminy | Arrangement</title>
{% block body %}
<div class="container-fluid px-0">
    <h2 class="my-0 px-0 text-center mb-1 bg-dark" style="font-family:courier; color:green;">Stay Arrangement of OutSiders</h2>
</div>

<div class="container-fluid bg-dark text-center">
    <div class="container">
        <div style="text-align:center">
            <font size="3">
                <font color="#0000ff">
                    <b>
                        <br>
                    </b>
                </font>
            </font>
        </div>
        <b>
            <font color="#ff0000" size="3">Tariff</font>
        </b>
        <div style="text-align:center">
            <span style="background-color:transparent">
                <b>
                    <font color="#0000ff" size="3">1 Bed Room : 1000 Rs. (Approx)</font>
                </b>
            </span>
        </div>
        <div style="text-align:center">
            <font size="3">
                <font color="#0000ff">
                    <b>
                        <br>
                    </b>
                </font>
            </font>
        </div>
        <div style="text-align:center py-2 my-2">
            <span style="background-color:transparent">
                <b>
                    <font color="#ff0000" size="3">Contact Persons</font>
                </b>
            </span>
        </div>

        <div style="text-align:center">
            <b style="background-color:transparent;color:rgb(0,0,255);font-size:medium">Er.
                Rajan Chaudhary &nbsp;: &nbsp;9772808791
            </b>
        </div>
        <div style="text-align:center">
            <font size="3">&nbsp;
                <font color="#0000ff">
                    <b>Er. Rajkumar Jasuja &nbsp; :
                        &nbsp;9829578102
                    </b>
                </font>
            </font>
        </div>

        <div style="text-align:center">
            <font size="3">
                <font color="#0000ff"><b>Er. Ravi Prakash Mathur &nbsp; : 8875990839</b>
                </font>
            </font>
        </div>
        <div style="text-align:center">
            <font size="3">
                <font color="#0000ff">
                    <b>
                        <br>
                    </b>
                </font>
            </font>
        </div>
        <div style="text-align:center">
            <font size="3">
                <font color="#0000ff">
                    <b>
                        <br>
                    </b>
                </font>
            </font>
        </div>
        <div style="text-align:center">
            <font size="3">
                <font color="#0000ff">
                    <b>
                        <br>
                    </b>
                </font>
            </font>
        </div>
        <div style="text-align:center">
            <font size="3">
                <font color="#0000ff">
                    <b>
                        <br>
                    </b>
                </font>
            </font>
        </div>
        <div style="text-align:center">
            <font size="3">
                <font color="#0000ff">
                    <b>
                        <br>
                    </b>
                </font>
            </font>
        </div>
        <div style="text-align:center">
            <font size="3">
                <font color="#0000ff">
                    <b>
                        <br>
                    </b>
                </font>
            </font>
        </div>
        <div style="text-align:center">
            <font size="3">
                <font color="#0000ff">
                    <b>
                        <br>
                    </b>
                </font>
            </font>
        </div>
        <div style="text-align:center">
            <font size="3">
                <font color="#0000ff">
                    <b>
                        <br>
                    </b>
                </font>
            </font>
        </div>
        <div style="text-align:center">
            <font size="3">
                <font color="#0000ff">
                    <b>
                        <br>
                    </b>
                </font>
            </font>
        </div>
        <div style="text-align:center">
            <font size="3">
                <font color="#0000ff">
                    <b>
                        <br>
                    </b>
                </font>
            </font>
        </div>
    </div>
</div>


{% endblock body %}
{% include 'footer.html' %}