
<div class="container-fluid mt-1 px-0 py-2 mx-0 bg-dark" style="text-align:center">
    
    <h6 class='text-center' style="font-family:courier; color:yellow;" ><b>This Website is managed by Alumni Polytechnic College Society,Bikaner</b></h6>
    <span style="background-color:rgb(0,0,0)">
        <span style="color:rgb(255,255,0)">For any query or feed back Email us at </span>
        <b>
            <font color="#00ffff"><a href="mailto: gpcb.alumni@gmail.com?subject=Mail from gpcbalumni.com" target="_blank">gpcb.alumni@gmail.com</a></font>
        </b>
        <span style="color:rgb(255,255,0)"> or </span>
        <b>
            <font color="#00ffff"><a href="mailto: joshi.prashant111@gmail.com?subject=Mail from gpcbalumni.com" target="_blank">joshi.prashant111@gmail.com</a></font>
        </b>
        <b style="color:rgb(207,226,243)"> </b>
        <font color="#ffff00">you may also contact on&nbsp;</font>
        <font color="#00ffff" size="3">☎&nbsp;</font>
        <span style="color:rgb(255,255,0)">: <a href="tel:8003781633">8003781633</a></span>
    </span>
    
</div>