{% include 'base.html' %}
<title>Aluminy | Gallery</title>
{% block body %}
<div class="container-fluid px-0">
    <h2 class=" px-0 text-center mb-1 bg-dark" style="font-family:courier; color:green;">Gallery</h2>
</div>


<div class="container-fluid py-2  bg-dark  my-1 hell">
    <div class="child py-2 text-white center my-1">
        <table border="1" bordercolor="#888" cellspacing="0"
            style="text-align:center;border-collapse:collapse;border-color:rgb(136,136,136);border-width:1px">
            <tbody>
                <tr>
                    <td style="text-align:center;width:150px;height:35px">
                        <font color="#ff00ff" size="4">
                            <b>
                                Type of Content<span>&nbsp;&nbsp;</span>&nbsp;
                            </b>
                        </font>
                    </td>
                    <td style="text-align:center;">
                        <blockquote style="margin:0 0 0 40px;border:none;padding:0px">
                            <font color="#ff00ff" size="4">
                                <b>
                                    Link for eContent
                                </b>
                            </font>
                        </blockquote>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;">Video&nbsp;&nbsp;</td>
                    <td style="text-align:left;">
                        <b style="background-color:transparent;font-size:12px;text-align:left">
                            <b style="background-color:transparent">
                                <b>
                                    <font size="2">
                                        <a href="https://photos.app.goo.gl/eNBdk5k2aPGDGCBh1"
                                            style="background-color:transparent;font-size:large" target="_blank">
                                            <img border="0" src="/static/img/new2.gif"></a>&nbsp;
                                    </font>
                                </b>
                            </b>
                        </b>
                        <a href="https://www.youtube.com/watch?v=p35JRcjR_Oo&amp;list=PLQ2CrlU9WvW0dXO9btVgly0BWe0ZMccqe&amp;index=1"
                            style="text-align:center;font-size:large" target="_blank">
                            Videos Of Punarmilan 2019
                        </a>&nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;width:150px;height:17px"><br>Pictures&nbsp;</td>
                    <td style="text-align:left;">
                        <b style="background-color:transparent;font-size:12px;text-align:left">
                            <b style="background-color:transparent">
                                <b>
                                    <font size="2">
                                        <a href="https://photos.app.goo.gl/eNBdk5k2aPGDGCBh1"
                                            style="background-color:transparent;font-size:large" target="_blank">
                                            <br><img border="0" src="/static/img/new2.gif"></a>&nbsp;
                                    </font>
                                </b>
                            </b>
                        </b>
                        <a href="https://photos.app.goo.gl/gVF1oazcuPTXD2XX6" style="font-size:medium;text-align:center"
                            target="_blank">
                            Memories of Punarmilan-2019 (Still Photos)
                        </a>&nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center; "><br>Video</td>
                    <td style="text-align:left;   ">
                        <blockquote style="margin:0 0 0 40px;border:none;padding:0px">
                            <a href="https://www.youtube.com/watch?v=Y2wFkB2sQMQ&amp;list=PLQ2CrlU9WvW0nhbUSHzJUA6JLQdB1OZBo"
                                style="text-align:center;font-size:large" target="_blank"><br>Videos Of Punarmilan
                                2018</a>
                        </blockquote>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center; "><br>Pictures&nbsp;</td>
                    <td style="text-align:left;   ">
                        <blockquote style="margin:0 0 0 40px;border:none;padding:0px"><a
                                href="https://photos.app.goo.gl/eNBdk5k2aPGDGCBh1"
                                style="font-size:large;text-align:center;background-color:transparent"
                                target="_blank"><br>Memories of Punarmilan-2018 (Still Photos
                                )</a>&nbsp;
                        </blockquote>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center; "><br>Video</td>
                    <td style="text-align:left;   ">
                        <blockquote style="margin:0 0 0 40px;border:none;padding:0px">
                            <a href="https://www.youtube.com/playlist?list=PLQ2CrlU9WvW2Y1H4zKvrv3cbQ_vdRLvug"
                                style="font-size:large;text-align:center" target="_blank"><br>Videos Of Punarmilan 2017
                            </a>

                        </blockquote>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;"><br>Pictures&nbsp;</td>
                    <td style="width:449px;height:49px">
                        <blockquote style="margin:0 0 0 40px;border:none;padding:0px">
                            <div style="text-align:left">
                                <a href="https://goo.gl/photos/D5iqbhx5roFwjCCu7"
                                    style="background-color:transparent;text-align:center;font-size:large"
                                    target="_blank"><br>Memories of Punarmilan-2017(Still Photos Part-1)
                                </a>
                            </div>
                            <div style="text-align:left">
                                <a href="https://goo.gl/photos/XwjjzZunyCbcGVwg7" style="background-color:transparent "
                                    target="_blank">Memories of Punarmilan-2017(Still Photos Part-2)
                                </a>
                                <span
                                    style="text-align:right;background-color:transparent;color:rgb(0,0,0);font-size:10pt">&nbsp;</span>
                            </div>
                        </blockquote>
                        <div style="text-align:center;font-size:large;background-color:transparent">
                            <a href="https://goo.gl/photos/XwjjzZunyCbcGVwg7"
                                style="font-size:large;text-align:center;background-color:transparent">
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center; "><br>Video</td>
                    <td style="text-align:left;   ">
                        <blockquote style="margin:0 0 0 40px;border:none;padding:0px">
                            <a href="https://www.youtube.com/playlist?list=PLQ2CrlU9WvW2gnheCJig2W-oBYgM6PbQE"
                                style="font-size:large;text-align:center" target="_blank"><br>Videos Of Punarmilan 2016
                            </a>
                        </blockquote>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left; ">
                        <blockquote style="margin:0 0 0 40px;border:none;padding:0px">
                            <span style="font-size:13.3333px;text-align:center">&nbsp;&nbsp;<br>Pictures&nbsp;
                            </span>&nbsp;
                        </blockquote>
                    </td>
                    <td style="text-align:left;   ">
                        <blockquote style="margin:0 0 0 40px;border:none;padding:0px">
                            <a href="https://goo.gl/photos/FSPtifcr3oXhin1A7" style="font-size:large;text-align:center"
                                target="_blank">
                                <span style="background-color:transparent" target="_blank"><br>Memories of
                                    Punarmilan-2016(Still Photos)
                                </span>
                            </a>

                        </blockquote>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="bg-dark py-2 text-white" style="text-align:center">

    <h2 class=" px-0 text-center mb-1 bg-dark" style="font-family:courier; color:green;">Our Youtube Channel</h2>
    <span style="background-color:transparent;font-size:10pt">
        <img src="/static/img/gpclogo.png" class="img-fluid rounded" alt="Responsive image">
        <span style="background-color:transparent;font-size:16pt">
            GPCB ALUMNI <a href="https://www.youtube.com/channel/UCrREXMQ93kf3Af_6Yg7dpow"
                target="_blank">Subscribe-Here</a>
        </span>
    </span>
</div>

<div class="container-fluid bg-dark  py-2 my-1 yttbp">
    <div class="yttbc  text-white  ">
        <h2 class=" px-0 text-center mb-1 bg-dark" style="font-family:courier; color:green;">Some Events Videos</h2>
        <table border="1" bordercolor="#888" cellspacing="0"
            style="border-collapse:collapse;border-color:rgb(136,136,136);border-width:1px">
            <tbody>
                <tr>
                    <td style="width:auto;height:214px">

                        <div class="sites-embed-align-center-wrapping-off">
                            <div class="sites-embed-border-on sites-embed" style="width:auto;">
                                <h4 class="sites-embed-title">Introduction Round</h4>
                                <div class="sites-embed-content sites-embed-type-youtube">
                                    <iframe title="YouTube video player" class="youtube-player" type="text/html"
                                        src="https://www.youtube.com/embed/bkP2La0h6bI?rel=0&amp;wmode=opaque"
                                        frameborder="0" allowfullscreen="true" width="100%" height="170">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="width:auto;height:214px">

                        <div class="sites-embed-align-left-wrapping-off">
                            <div class="sites-embed-border-on sites-embed" style="width:auto;">
                                <h4 class="sites-embed-title">Introduction Round</h4>
                                <div class="sites-embed-content sites-embed-type-youtube">
                                    <iframe title="YouTube video player" class="youtube-player" type="text/html"
                                        src="https://www.youtube.com/embed/EFbus4k0KkI?rel=0&amp;wmode=opaque"
                                        frameborder="0" allowfullscreen="true" width="100%" height="170">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:auto;height:214px">&nbsp;
                        <div class="sites-embed-align-left-wrapping-off">
                            <div class="sites-embed-border-on sites-embed" style="width:auto;">
                                <h4 class="sites-embed-title">Introduction Round</h4>
                                <div class="sites-embed-content sites-embed-type-youtube">
                                    <iframe title="YouTube video player" class="youtube-player" type="text/html"
                                        src="https://www.youtube.com/embed/rJSC8CZHzgk?rel=0&amp;wmode=opaque"
                                        frameborder="0" allowfullscreen="true" width="100%" height="170">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="width:auto;height:214px">
                        <br>
                        <div class="sites-embed-align-left-wrapping-off">
                            <div class="sites-embed-border-on sites-embed" style="width:auto;">
                                <h4 class="sites-embed-title">Introduction Round</h4>
                                <div class="sites-embed-content sites-embed-type-youtube">
                                    <iframe title="YouTube video player" class="youtube-player" type="text/html"
                                        src="https://www.youtube.com/embed/2f8UONpE48Q?rel=0&amp;wmode=opaque"
                                        frameborder="0" allowfullscreen="true" width="100%" height="170">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock body %}
{% include 'footer.html' %}