{% include 'base.html' %}
<title>Aluminy | Give</title>
{% block body %}
<div class="container-fluid px-0">
    <h2 class=" px-0 text-center mb-1 bg-dark" style="font-family:courier; color:green;">Give</h2>
</div>
<div class="bg-dark py-2 text-white" style="text-align:center">
    <div style="font-size:13.3333px;text-align:left">
        <font color="#0000ff"><b style="background-color:transparent">
                <font class="text-white" size="4">You can deposite via</font>
            </b></font>
    </div>
    <div style="font-size:13.3333px;text-align:left"><b style="background-color:transparent;font-size:10pt">
            <font color="#ff00ff" size="4">1.</font>
            <font color="#0000ff" size="4">&nbsp;</font>
            <font color="#ff00ff" size="4">Net Banking using below bank details</font>
        </b>
    </div>
    <div style="font-size:13.3333px;text-align:left"><b style="background-color:transparent;font-size:10pt">
            <font color="#274e13" size="4">&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</font>
        </b><b style="background-color:transparent;font-size:10pt">
            <font size="4">Name of Bank A/c :&nbsp;<font color="#ff0000">Alumni Polytechnic College Society Bikaner
                </font>
            </font>
        </b>
    </div>
    <div style="font-size:13.3333px;text-align:start">
        <div><b style="background-color:transparent;font-size:10pt">
                <font size="4">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;Bank&nbsp; A/C No:<font color="#0000ff">
                        &nbsp;
                    </font><span style="background-color:transparent">
                        <font color="#ff0000">35755198117&nbsp;</font>
                    </span></font>
            </b></div>
        <div>
            <font size="4"><b>
                    <font color="#9900ff">&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;IFSC Code</font>
                    <font color="#ff0000">&nbsp;</font>
                    <font color="#0000ff">:&nbsp;</font>
                    <font color="#ff0000">SBIN0007260</font>
                </b></font>
        </div>
    </div>
    <div style="font-size:13.3333px;text-align:left">
        <b style="background-color:transparent;font-size:10pt">
            <font color="#ff00ff" size="4">2.</font>
            <font color="#0000ff" size="4">&nbsp;</font>
            <font color="#ff00ff" size="4">UPI (Unified Payment Interface )</font>
        </b><b style="background-color:transparent;font-size:13.3333px">
            <font color="#0000ff" size="4">&nbsp;</font>
        </b>
    </div>
    <div class="bg-dark py-2" style="text-align:center">
        <img src="/static/img/upipay.png" class="img-fluid rounded" alt="Responsive image" border="0" height="250"
            width="200">
    </div>
    <div style="text-align:left"><b style="font-size:10pt;background-color:transparent">
        <b
                style="background-color:transparent;font-size:10pt">
                <div style="display:inline!important">
                    <b style="background-color:transparent;font-size:10pt">
                        <div style="display:inline!important">
                            <b style="background-color:transparent;font-size:10pt">
                                <div style="display:inline!important">
                                    <b style="background-color:transparent">
                                        <font color="#ff0000" size="3">Note:-</font>
                                    </b>
                                    <b style="background-color:transparent;font-size:10pt">
                                        <div style="display:inline!important">
                                            <b style="background-color:transparent">
                                                <font color="#ff0000" size="3">Please also send the receipt with your
                                                    name, batch to&nbsp;</font>
                                                <font class="text-white" size="3"><a href="mailto: gpcbalumni@gmail.com?subject=Reciept" target="_blank">gpcbalumni@gmail.com</a></font>
                                            </b>
                                        </div>
                                    </b>
                                </div>
                            </b>
                        </div>
                    </b>
                </div>
            </b>
        </b>
    </div>
</div>
{% endblock body %}
{% include 'footer.html' %}