{% include 'base.html' %}
<title>Aluminy | Home</title>
{% block body %}
<div class="container-fluid px-0">
    <h2 class="px-0 text-center bg-dark mb-1" style="font-family: courier; color: green"> Home </h2>
</div>
<div id="carouselExampleIndicators" class="carousel slide my-1  mb-1 container-fluid px-0 bg-dark"
    data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1">
        </button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">
        </button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">
        </button>

    </div>
    <div class="carousel-inner px-0 mx-0 text-center">

        <div class="carousel-item active">
            <img src="/static/img/1st.jpg" class="img-fluid" alt="Responsive image" height="600">
        </div>
        <div class="carousel-item">
            <img src="/static/img/2nd.jpg" class="img-fluid" alt="Responsive image" height="600">
        </div>

        <div class="carousel-item ">
            <img src="/static/img/3rd.jpg" class="img-fluid" alt="Responsive image" height="600">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container-fluid py-2 bg-dark my-1 hell">
    <div class="child py-2 text-white my-1">
        <h3 class="text-center" id="1" style="font-family: 'Times New Roman', Times, serif;color: rgb(252, 164, 0)">
            How to Be an Active Alumni
        </h3>

        <table border="0" bordercolor="#888" cellspacing="0" style="text-align: center">
            <tbody>
                <tr widht="50">
                    <td style="text-align: left; width: 350px; height: 35px">
                        <ol class="century-number-list">
                            <li class="alumni-list">
                                <a style="text-decoration: none" href="#1" class="toc-filter-processed">Join or update
                                    your info with the Alumni Association</a>
                            </li>
                            <br />

                            <li class="alumni-list">
                                <a style="text-decoration: none" href="#2" class="toc-filter-processed">Share your
                                    story</a>
                            </li>
                            <br />
                            <li class="alumni-list">
                                <a style="text-decoration: none" href="#3" class="toc-filter-processed">Attend an Alumni
                                    event</a>
                            </li>
                            <br />
                            <li class="alumni-list">
                                <a style="text-decoration: none" href="#4" class="toc-filter-processed">
                                    Discover your benefits
                                </a>
                            </li>
                        </ol>
                    </td>
                    <td style="text-align: left; width: 300px; height: 35px">
                        <ol class="century-number-list alumni-counter" start="5">
                            <br />
                            <li class="alumni-list">
                                <a style="text-decoration: none" href="#5" class="toc-filter-processed">Join the Alumni
                                    Association Board of Directors</a>
                            </li>
                            <br />
                            <li class="alumni-list">
                                <a style="text-decoration: none" href="#6" class="toc-filter-processed">Find a job</a>
                            </li>
                            <br />
                            <li class="alumni-list">
                                <a style="text-decoration: none" href="#7" class="toc-filter-processed">Give back</a>
                            </li>
                            <br />
                            <li class="alumni-list">
                                <a style="text-decoration: none" href="#8" class="toc-filter-processed">Contact-Us</a>
                            </li>
                            <br />
                        </ol>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container-fluid py-2 bg-dark my-1 hell">
    <div class="child py-2 text-white my-1">
        <table border="0" bordercolor="#888" cellspacing="0" style="text-align: center">
            <tbody>
                <tr widht="1000">
                    <td style="text-align: left; width: 1000px">
                        <div class="bg-dark text-white my-1 py-1 linktoh">
                            <h3 id="1" style="color: rgb(203, 74, 32)">
                                Join or update your info with the Alumni Association
                            </h3>
                            <p>

                                Thank you for your continued interest in Govt. Polytechnin
                                College Bikaner! Click the button below to join or update your
                                information to activate your Alumni Association membership. Once
                                submitted, you will be mailed: Govt. Polytechnin College Alumni
                                Association welcome packet Govt. Polytechnin College Alumni
                                Association Member I.D. card* (to access on-campus benefits like
                                the fitness center, library, and other benefits) *To receive an
                                Alumni I.D. card, you must provide either your former Govt.
                                Polytechnin College Student I.D. number or the last 4 digits of
                                your SSN in the online form. You may request your former Student
                                I.D. number by phone or in person by providing your Social
                                Security number to the Govt. Polytechnin College Records
                                Department. Please call 8003781633 for assistance. The
                                information provided will not be shared with any outside
                                organization.
                            </p>

                            <div class="center-button">
                                <a href="/registration">
                                    <button type="button" class="btn btn-success">Register Here</button>
                                </a>
                            </div>

                            <h3 id="2" style="color: rgb(203, 74, 32)"><br />Share your story</h3>
                            <p>

                                Govt. Polytechnin College transforms lives through innovative,
                                rigorous, and compassionate education. You came here to discover
                                what’s next – now, share your triumphs with us, and tell us how
                                Govt. Polytechnin College has helped you transform your life!
                            </p>

                            <div class="center-button">
                                <a href="/story">
                                    <button type="button" class="btn btn-success center">Share Now</button>
                                </a>
                            </div>

                            <h3 id="3" style="color: rgb(203, 74, 32)"><br />
                                Attend an Alumni event
                            </h3>
                            <p>

                                Meet up with old friends or make new ones at various networking
                                and social events for alumni. Come back to campus for
                                educational and cultural events, and to support our sports teams
                                (Go Wood Ducks!)
                            </p>


                            <div class="center-button">
                                <a href="/timeline">
                                    <button type="button" class="btn btn-success">Check-Now</button>
                                </a>
                            </div>

                            <br />

                            <h3 id="5" style="color: rgb(203, 74, 32)"><br />
                                Join the Alumni Association Board of Directors
                            </h3>
                            <p>

                                A volunteer Board of Directors comprised of alumni, community
                                leaders, faculty, and staff governs the Govt. Polytechnin
                                College Alumni Association (PCAA). We select members based on
                                their dedication to strengthening the bonds between alumni and
                                our community while furthering the mission of Govt. Polytechnin
                                College. Our mission is to mobilize and support current students
                                and alumni through educational, cultural, social networking, and
                                service-related opportunities.
                            </p>


                            <div class="center-button">
                                <a href="/registration">
                                    <button type="button" class="btn btn-success">Join Here</button>
                                </a>
                            </div>

                            <br />


                            <h3 id="6" style="color: rgb(203, 74, 32)"><br />Find a job</h3>
                            <p>

                                Alumni can access the Career Services center for help with
                                resume development, job search assistance, interviewing
                                techniques, and onsite job fairs. Alumni are also able to search
                                for jobs on Govt. Polytechnin College's Central Network (CCN), which
                                features job postings by employers specifically looking to hire
                                Govt. Polytechnin College grads, and includes more resources for career advice
                                like podcasts and a weekly email update with tips and trends.
                            </p>


                            <div class="center-button">
                                <a href="https://sites.google.com/site/bknpoly/" target="_blank">
                                    <button type="button" class="btn btn-success">Find Here</button>
                                </a>
                            </div>

                            <br />


                            <h3 id="7" style="color: rgb(203, 74, 32)"><br />Give back</h3>
                            <p>

                                Our alumni are some of Govt. Polytechnin College's biggest supporters. Those who
                                are able to give can choose to do so in a variety of ways -
                                monetary donations, gifts in kind, securities and stocks, and
                                legacy planning. If you are planning a gift, check to see if
                                your company offers a match.
                            </p>


                            <div class="center-button">
                                <a href="/give" target="_blank">
                                    <button type="button" class="btn btn-success">Make a Gift</button>
                                </a>
                            </div>

                            <br />


                            <h3 id="8" style="color: rgb(203, 74, 32)"><br />Contact-Us</h3>
                            <p>
                                You can Contact-Us by Click Bellow.
                            </p>

                            <div class="center-button">
                                <a href="/contact">
                                    <button type="button" class="btn btn-success">Contact-Us</button>
                                </a>
                            </div>

                            <br />

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock body %} {% include 'footer.html' %}