{% include 'base.html' %}
<title>Aluminy | Meetings</title>
{% block body %}
<div class="container-fluid px-0">
    <h2 class=" px-0 text-center mb-1 bg-dark" style="font-family:courier; color:green;">Meetings</h2>
</div>

<div class="container-fluid bg-dark text-white text-center">

    <div style="text-align:center">
        <font size="3">
            <font color="#0000ff">
                <b>
                    <br>
                </b>
            </font>
        </font>
    </div>
    
    <div class="container" style="width:500px;">
        <h4>Snaps of Core Committee Meetings</h4>
        <div class="container">
            <iframe width="400" height="267" style="border:0; overflow:hidden;"
                src="https://sites.google.com/site/gpcbalumni/system/app/pages/picasaembed?user=111847727839800546207&amp;album=MeetingOn18October2015&amp;size=large">
            </iframe>
        </div>
    </div>
  

    

    

    <div style="text-align:center">
        <font size="3">
            <font color="#0000ff">
                <b>
                    <br>
                </b>
            </font>
        </font>
    </div>

    <div style="text-align:center">
        <font size="3">
            <font color="#0000ff">
                <b>
                    <br>
                </b>
            </font>
        </font>
    </div>

    <div style="text-align:center">
        <font size="3">
            <font color="#0000ff">
                <b>
                    <br>
                </b>
            </font>
        </font>
    </div>
</div>




{% endblock body %}
{% include 'footer.html' %}